@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Averta-Regular"),
    url(../public/Averta-normal.woff2) format("woff2");
}
@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Averta-Bold"),
    url(../public/AvertaBold.woff2) format("woff2");
}
@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Averta-Extrabold"),
    url(../public/Averta-ExtraBold.woff2) format("woff2");
}

:root {
  --navHeight: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
  font-size: 16px;
  color: #380000;
  background: url(../public/KittyPartyBGTile.png) 0 0/150px auto repeat;
}

a {
  color: inherit;
  text-decoration: none;
  color: #380000;
}

button {
  font-family: Averta, sans-serif;
}

* {
  box-sizing: border-box;
}
